{% load staticfiles %}
<!DOCTYPE html>
    <html>
        <head>
            {% block head %}{% endblock %}
            <title>{% block title %}{% endblock %}</title>
            <meta name="google-signin-client_id" content="605789539211-afm0j3sljoe281a6r7cpcd727kt6rqdf.apps.googleusercontent.com">
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
            <link rel = "stylesheet" href = "{% static "app/css/bootstrap.min.css" %}">
            <link rel = "stylesheet" href = "{% static "app/css/custom.css" %}">
        </head>
        <body>
            {% block content %}
            {% endblock %}
            <script src="{% static "app/js/jquery-2.1.4.min.js" %}"></script>
            <script src = "{% static "app/js/bootstrap.min.js" %}"></script>
            <script src = "{% static "app/js/harish.js" %}"></script>
            <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
            {% block script %}{% endblock %}
        </body>
    </html>
