{% extends "app/base.html" %}
{% block head %}<meta name="google-signin-client_id" content="605789539211-afm0j3sljoe281a6r7cpcd727kt6rqdf.apps.googleusercontent.com">{% endblock %}
{% block title %}signUp Page{% endblock %}
{% block content %}
<div class = "navbar navbar-default navbar-static-top">
    <a href = "/" class = "navbar-brand">ReviewRate</a>
    <div class = "container">
        <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".harishcollapse">
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
        </button>
        <div class = "collapse navbar-collapse harishcollapse">
            <ul class = "nav navbar-nav navbar-left">
                <li><a href = "/">Home</a></li>
                <li><a href = "#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<form style = "display:none" id = "formfacebook" action = "/google/" method = "post">
  {% csrf_token %}
  <input type = "text" name = "gname" id = "gname"/>
  <input type = "text" name = "gemail" id = "gemail"/>
</form>
<div class = "container">
    <div class = "panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Log In</h3>
    </div>
    <div class = "row">
        <div class = "panel-body">
        <div class = "col-sm-3 col-sm-offset-1">
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
            <div id="my-signin2" class = "btn-block"></div>
        </div>
        <div class = "col-sm-4 col-sm-offset-1">
            <form class = "form-horizontal" method = "post" action = "/login/">
                {% csrf_token %}
                <div class = "form-group">
                    <div class = "input-group">
                        <div class = "input-group-addon"><span class = "glyphicon glyphicon-envelope"></span></div>
                        <input type = "text" id = "email" name = "email" placeholder="email" class= "form-control" required=/>
                    </div>
                </div>
                <div class = "form-group">
                    <div class = "input-group">
                        <div class = "input-group-addon"><span class ="glyphicon glyphicon-lock"></span></div>
                        <input type = "password" id = "password" name = "password" placeholder="password" class= "form-control" required=/>
                    </div>
                </div>
                <div class = "form-group">
                    <div class = "col-sm-2 col-sm-offset-5">
                    <input type = "submit" class = "btn btn-warning" value = "Log in"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>
    <div class = "panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Sign Up</h3>
    </div>
    <div class = "row">
        <div class = "panel-body">
        <div class = "col-sm-4 col-sm-offset-4">
            <form class = "form-horizontal" method = "post" action = "/register/">
                {% csrf_token %}
                {% if request.session.double %}
                    <h3 class = "text-warning">passwords dont match</h3>
                {% endif %}
                {% if request.session.already %}
                    <h3 class = "text-warning">email already exists</h3>    
                {% endif %}
                <div class = "form-group">
                    <div class = "input-group">
                        <div class = "input-group-addon"><span class = "glyphicon glyphicon-user"></span></div>
                        <input type = "text" id = "name" name = "name" placeholder="name" class= "form-control" required=/>
                    </div>
                </div>
                <div class = "form-group">
                    <div class = "input-group">
                        <div class = "input-group-addon"><span class = "glyphicon glyphicon-envelope"></span></div>
                        <input pattern = ".+@.+\..+" type = "text" id = "email" name = "email" placeholder="email" class= "form-control" required title="enter a valid email address"/>
                    </div>
                </div>
                <div class = "form-group">
                    <div class = "input-group">
                        <div class = "input-group-addon"><span class ="glyphicon glyphicon-lock"></span></div>
                        <input pattern = ".{6,}" type = "password" id = "password" name = "password" placeholder="password" class= "form-control" required title="minimum 6 letters"/>
                    </div>
                </div>
                <div class = "form-group">
                    <div class = "input-group">
                        <div class = "input-group-addon"><span class ="glyphicon glyphicon-lock"></span></div>
                        <input type = "password" id = "repassword" name = "repassword" placeholder="retype password" class= "form-control" required=/>
                    </div>
                </div>
                <div class = "form-group">
                    <div class = "input-group">
                        <div class = "input-group-addon"><span class ="glyphicon glyphicon-earphone"></span></div>
                        <input pattern = "[0-9]{10}" type = "text" id = "phone" name = "phone" placeholder="Phone No" class= "form-control" required title="enter a 10 digit phone number"/>
                    </div>
                </div>
                <div class = "form-group">
                    <div class = "col-sm-2 col-sm-offset-5">
                    <input type = "submit" class = "btn btn-warning" value = "Sign Up"/>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    </div>
</div>
<div class = "navbar navbar-fixed-bottom navbar-inverse">
    <p class = "navbar-text pull-left tesla"><span class = "glyphicon glyphicon-copyright-mark"></span> ReviewRate</p>
</div>
{% block script %}
<script>
    //tesla is great below part takes care of csrf verfication
    $.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
    });
    function onFailure(error) {
      console.log(error);
    }
    var gemail, gname;
    function onSuccess(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      gname = profile.getName();
      console.log('Email:harish ' + profile.getEmail());
      gemail = profile.getEmail();
      $.post( "/google/", { gname: gname, gemail: gemail },function(){
        window.location = "/success";
      });
    }
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'https://www.googleapis.com/auth/plus.login',
        'width': 200,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>
  <script>

    $.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
    });
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '916668321737378',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
        var gn = $("#gname");
        var ge = $("#gemail");
        gn.val(gname);
        ge.val(gemail);
        $("#formfacebook").submit();
    });

  }

  function logoutout(){

    FB.logout(function(response) {
      console.log("log out")

    });
  }
</script>
{% endblock script%}
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
}
{% endblock content%}